
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
} 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/fonts/Roboto/Roboto-Regular.ttf');
} 
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    font-size: 0.052vw;
}
